<div>
    <div class="row">
        <nav class="col-12">
            <a href="/" class="home"> Challenge Yourself</a>
            <% if(loggedIn) { %>
            <ul>

                <li><a href="/logout" class="global-header-section-button">Log Out</a></li>
            </ul>
            <% } else { %>
                <ul>
                    <li><a href="/register" class="global-header-section-button">Sign up</a></li>
                    <li><a href="/login" class="global-header-section-button">Login</a></li>
                </ul>
            <% } %>
        </nav>
    </div>
</div>